@import 'tailwindcss';

@theme {
    --color-primary-100: oklch(0.1928 0.0452 243.97);
    --color-primary-50: oklch(0.3488 0.0439 243.97);
    --color-secondary-100: oklch(0.8195 0.1963 128.88);
    --color-accent-100: oklch(0.6305 0.1948 258.09);
    --color-body: oklch(0.8592 0.0017 247.84);
}

